<footer>

    <!--<button onclick="mySound.play()">mysound</button>-->
    <!--<script src="/js/soundmanager2.js"></script>-->
    <!--<script>-->
    <!--var mySound;-->
    <!--soundManager.setup({-->
    <!--onready: function() {-->
    <!--mySound = soundManager.createSound({-->
    <!--url: 'WWMenuSelection.mp3'-->
    <!--});-->
    <!--}-->
    <!--});-->
    <!--</script>-->

</footer>