<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a href="/"><i class="fa fa-home"></i> Home</a>
      </li>
      <li>
          <a href="#"><i class="fa fa-user"></i> Secret :)</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-info-sign"></span> Examples <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/cool">Cool Ascii Faces</a></li>
            <li><a href="/lorem">Lorem Ipsum</a></li>
            <li><a href="/lorem?num=50">50 Lorem Ipsum</a></li>
            <li><a href="/lorem/custom">Custom Lorem Ipsum</a></li>
            <li><a href="/example/1234567890">Example Playground</a></li>
            <li><a href="/db">PostgreSQL DB Example</a></li>
            <li><a href="/gettingstarted">Getting Started</a></li>
            <li><a href="/bootstrap">Bootstrap Examples</a></li>
            <li class="divider"></li>
            <li><a href="/api">API (Scuffed)</a></li>
            <li><a href="/times">Env var test</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://www.twitter.com/bitbruce_"><i class="fab fa-twitter"></i> Twitter</a>
      </li>
    </ul>
  </div>
</nav>
