<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Brucefun</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <i class="navbar-toggler-icon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user"></i> Secret :)</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Examples</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="/cool">Cool Ascii Faces</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a href="/lorem">Lorem Ipsum</a></li>
            <li class="dropdown-item"><a href="/lorem?num=50">50 Lorem Ipsum</a></li>
            <li class="dropdown-item"><a href="/lorem/custom">Custom Lorem Ipsum</a></li>
            <li class="dropdown-divider"></li>
            <li class="nav-item dropdown-submenu">
              <a class="dropdown-item" tabindex="-1">Examples</a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><a href="/example?p=tabs">Tabs</a></li>
                <li class="dropdown-item"><a href="/example?p=splash">Splash Screen</a></li>
                <li class="dropdown-item"><a href="/example?p=sign-in">Sign In</a></li>
                <li class="dropdown-item"><a href="/example?p=blog">Blog</a></li>
                <li class="dropdown-item"><a href="/example?p=dashboard">Dashboard</a></li>
                <li class="dropdown-item"><a href="/example?p=formlabels">Form labels</a></li>
                <!--<li class="dropdown-submenu">-->
                <!--<a class="dropdown-item" href="#">Even More..</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li class="dropdown-item"><a href="#">3rd level</a></li>-->
                <!--<li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>-->
                <!--<ul class="dropdown-menu">-->
                <!--<li class="dropdown-item"><a href="#">4th level</a></li>-->
                <!--<li class="dropdown-item"><a href="#">4th level</a></li>-->
                <!--<li class="dropdown-item"><a href="#">4th level</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown-item"><a href="#">3rd level</a></li>-->
                <!--</ul>-->
                <!--</li>-->
              </ul>
            </li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item"><a href="/example?p=db">PostgreSQL DB Example</a></li>
            <li class="dropdown-divider"></li>
            <!--<li class="dropdown-item"><a href="/api">API (Scuffed)</a></li>-->
            <li class="dropdown-item"><a href="/times">Env var test</a></li>
            <!-- Hover sub-dropdown example -->
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://www.twitter.com/bitbruce_"><i class="fab fa-twitter"></i> Twitter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
