<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <%if (typeof page != 'undefined') { %>

    <%- include(page) %>

    <% } else { %>

    <!-- TODO: better-->
    <% include ../partials/nav.ejs %>
    <div class="container">
        <div class="jumbotron">
            >> /example?p=
            <br/>
            >> More examples <a href="http://getbootstrap.com/docs/4.0/examples/">http://getbootstrap.com/docs/4.0/examples/</a>
        </div>
    </div>

    <% } %>

    <% include ../partials/footer.ejs %>

</body>
</html>
