<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <%if (typeof page != 'undefined') { %>
    <%- include(page) %>
    <% } else { %>
    <!-- Give instructions on using ?p= -->
    duh
    <% } %>

    <% include ../partials/footer.ejs %>

</body>
</html>
