<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <%if (typeof page != 'undefined') { %>
    <%- include(page) %>
    <% } else { %>
    <!-- TODO: better-->
    >> /example?p=
    <br/>
    >> More examples <a href="http://getbootstrap.com/docs/4.0/examples/">http://getbootstrap.com/docs/4.0/examples/</a>
    <br/>
    <button><a href="/">Home</a></button>
    <% } %>

    <% include ../partials/footer.ejs %>

</body>
</html>
