<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <% try { %>

    <%- include(page) %>

    <% } catch(error) { %>

    <% include ../partials/nav.ejs %>
    <div class="container">
        <div class="jumbotron">
            >> /example?p=
            <br/>
            >> More examples <a href="http://getbootstrap.com/docs/4.0/examples/">http://getbootstrap.com/docs/4.0/examples/</a>
        </div>
    </div>

    <% } %>

    <!-- <script>window.location.replace("/example");</script> -->

</body>
</html>
