<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>
      <h1>Hello World</h1>
    </div>
    <audio controls="controls"><!-- autoplay -->
      <source src="track.ogg" type="audio/ogg" />
      <source src="WWMenuSelection.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="container">
    <p><a href="https://hackerthemes.com/bootstrap-cheatsheet/">Bootstrap 4 cheat sheet!</a></p>
    <p><a href="https://hackerthemes.com/bootstrap-buffet/">Bootstrap cheat sheet kinda</a></p>
    <p><a href="https://hackerthemes.com/bootstrap-themes/neon-glow/">Love this theme tho</a></p>
    <p><a href="https://github.com/goldfire/howler.js">Check out howler</a></p>
  </div>

  <% include ../partials/footer.ejs %>

  </body>
</html>
