<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>
<body>

<% include ../partials/mynav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <!--&lt;!&ndash; <a href="/" class="lang-logo">-->
      <!--<img src="/lang-logo.png">-->
    <!--</a> &ndash;&gt;-->
    <h1>Hello World</h1>
  </div>
</div>
<div class="container">
</div>

</body>
</html>
