<!DOCTYPE html>
<html>
<head>
  <!-- By BitBruce https://www.github.com/BitBruce -->
  <% include ../partials/header.ejs %>
</head>
<body class="home">

  <div class="container main"><!-- container or container-fluid -->
    <div class="row">
      <div class="col-md-4">
        <div class="panel text-center">
          <div class="card bg-transparent">
            <div class="avi">
              <img src="/assets/bruce.jpg" alt="Avatar">
            </div>
            <div class="card-body" style="padding-top: 0;">
              <h5 class="card-title">Bruce Robinson</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-transparent">
                <!-- Contact Chip -->
                <a href="https://github.com/BitBruce/">
                  <span class="mdl-chip mdl-chip--contact">
                    <span class="mdl-chip__contact mdl-color--green mdl-color-text--white"><i class="fab fa-github"></i></span>
                    <span class="mdl-chip__text">BitBruce</span>
                  </span>
                </a>
              </li>
              <li class="list-group-item"><a href="/oldhome">To the rest of the site -></a></li>
              <!--<li class="list-group-item"><a href="https://twitter.com/bitbruce_?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @bitbruce_</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>-->
            </ul>
            <!--<div class="card-body">-->
              <!--<div class="btn-group" role="group" aria-label="Basic example">-->
                <!--<button type="button" class="btn btn-secondary"><i class="fab fa-github"></i>Left</button>-->
                <!--<button type="button" class="btn btn-secondary"><i class="fab fa-github"></i>Middle</button>-->
                <!--<button type="button" class="btn btn-secondary"><i class="fab fa-github"></i>Right</button>-->
              <!--</div>-->
            <!--</div>-->
          </div>
          <!--<div class="card">-->
            <!--<div class="card-header">-->
              <!--Current Projects-->
            <!--</div>-->
            <!--<ul class="list-group list-group-flush">-->
              <!--<li class="list-group-item">Cras justo odio</li>-->
              <!--<li class="list-group-item">Dapibus ac facilisis in</li>-->
              <!--<li class="list-group-item">Vestibulum at eros</li>-->
            <!--</ul>-->
          <!--</div>-->
        </div>
      </div>
      <div class="col-md-4 order-md-1">
        <div class="panel text-center">
          <!--<button class="btn" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Hide Music</button>-->

          <div class="collapse show" id="collapseExample">
            <iframe src="https://open.spotify.com/embed?uri=spotify:album:4Z4f0b1KAupm3VaeEWrZ9U" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

          </div>
          <div class="card bg-transparent">
            <div class="card-body">
              <blockquote>You are free to sever the chains of fate that bind you.</blockquote>
              <cite title="Source Title">The Legend of Dragoon</cite>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel text-center">
          <!-- MDL Progress Bar with Indeterminate Progress -->
          <!--<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>-->
          <!--<a class="twitter-timeline" href="https://twitter.com/BitBruce_?ref_src=twsrc%5Etfw">Tweets by BitBruce_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
          <a class="twitter-timeline" data-height="1000" data-theme="dark" data-link-color="#1b5e20" href="https://twitter.com/BitBruce_?ref_src=twsrc%5Etfw">Tweets by BitBruce_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

    </div>
  </div>

  <% include ../partials/footer.ejs %>

</body>
</html>
