<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <!--<a href="/" class="lang-logo">-->
        <!--<img src="assets/lang-logo.png">-->
      <!--</a>-->
      <i id="icon" class="fa fa-bitcoin" style="text-shadow: rgb(0, 71, 0) 0px 0px 0px, rgb(0, 74, 0) 1px 1px 0px, rgb(0, 78, 0) 2px 2px 0px, rgb(0, 81, 0) 3px 3px 0px, rgb(0, 84, 0) 4px 4px 0px, rgb(0, 87, 0) 5px 5px 0px, rgb(0, 90, 0) 6px 6px 0px, rgb(0, 93, 0) 7px 7px 0px, rgb(0, 96, 0) 8px 8px 0px, rgb(0, 99, 0) 9px 9px 0px; font-size: 80px; color: rgb(255, 255, 255); height: 128px; width: 128px; line-height: 128px; border-radius: 50%; text-align: center; background-color: rgb(0, 102, 0);"></i>
      <h1>BitBruce</h1>
    </div>
    <audio controls="controls" ><!-- autoplay -->
      <source src="/assets/WWMenuSelection.mp3" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>What I Used</h2>
      </div>
      <div class="col-sm-6">
        <ul>
          <li>Express</li>
          <li>EJS</li>
          <li>Gulp</li>
          <li>SASS</li>
          <li>Bootstrap 4</li>
          <li>PostgreSQL</li>
          <li>One-off npm packages
            <ul>
              <li>dotenv</li>
              <li>cool-ascii-faces</li>
              <li>cat-ascii-faces</li>
              <li>yes-or-no</li>
              <li>Snowstorm</li>
            </ul>
          </li>
          <li>CreateJS suite</li>
          <li>SoundManager2</li>
          <li>Nodemon</li>
          <li>Httpie</li>
          <li>Glyphicons -> Fontawesome</li>
          <li>IntelliJ + Emmet</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <h3>Cheat sheets</h3>
      <ul>
        <li><a href="https://github.com/azat-co/cheatsheets/tree/master/es6">ES6</a></li>
        <li><a href="https://github.com/azat-co/cheatsheets/tree/master/node-npm">Node + npm</a></li>
        <li><a href="https://github.com/azat-co/cheatsheets/tree/master/mongodb-mongoose">Mongo + mongoose</a></li>
        <li><a href="https://github.com/azat-co/cheatsheets/tree/master/express4">Express4</a></li>
        <li><a href="https://hackerthemes.com/bootstrap-cheatsheet/">Bootstrap 4 cheat sheet!</a></li>
        <li><a href="https://hackerthemes.com/bootstrap-buffet/">Bootstrap cheat sheet kinda</a></li>
      </ul>
      <h3>To check out</h3>
      <ul>
        <li><a href="https://hackerthemes.com/bootstrap-themes/neon-glow/">Bootstrap themes</a></li>
        <li><a href="https://github.com/goldfire/howler.js">Howler (instead of SoundJS)</a></li>
        <li><a href="https://github.com/sahat/hackathon-starter">Hackathon starter</a></li>
        <li><a href="https://ponyfoo.com/articles/teach-yourself-nodejs-in-10-steps">Node in 10 steps</a></li>
        <li><a href="https://12factor.net/">The 12 Factor App</a></li>
      </ul>
    </div>

  </div>

  <% include ../partials/footer.ejs %>

  <% include ../partials/examples/snowstorm.ejs %>

  </body>
</html>
