<script src="/js/snowstorm.js"></script>
<script>
  snowStorm.snowColor = '#006600';
  snowStorm.useTwinkleEffect = true; // let the snow flicker in and out of view
  snowStorm.snowCharacter = '*';
</script>
<div class="text-center">
    A snowstorm by <a href="https://github.com/scottschiller/Snowstorm">scottschiller</a>.
</div>